out/
package/
lib/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
wimoved
wimoved_tests

.*
*.cbp
*.log
*.conf
*.cmake
*.ninja

!OpenWrtBuild/packageDirectory/**
!.clang-format
!.gitignore
!.github
